*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #042f4b;
    margin: 0;
}
.container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
.dice {
    display: inline-block;
    margin: 10px;
}
h1{
    margin: 30px;
    color: #4ecca3;
    font-size: 4.5rem;
    text-shadow: 5px 0 #232931; 
}
p{
    margin: 10px;
    font-size: 2rem;
    color: #4ecca3;
}
.dice img{
    width: 100%;
    /* margin: 10px; */
}
footer{
    text-align: center;
}
.btn{
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #4ecca3;
    columns: #fff;
    text-decoration: none;
} 
.btn:hover { 
    background: #232931; 
    color: white;
    text-decoration: none; 
} 