*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9932CC;
    text-align: center;
}
h1{
    font-size: 6rem;
    margin: 2rem 0;
    color: white;
    text-shadow: 3px 0px red;
    font-family: cursive;
}


.w{
    background-image: url("images/tom1.png");
}
.a{
    background-image: url("images/tom2.png");

}
.s{
    background-image: url("images/tom3.png");
}
.d{
    background-image: url("images/tom4.png");
}
.j{
    background-image: url("images/snare.png");
}
.k{
    background-image: url("images/crash.png");
}
.l{
    background-image: url("images/kick.png");
}
.set{
    margin: 8% auto;
}
.drum{
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 0px 10px;
    border: 5px solid #404B69;
    border-radius: 15px;
    text-align: center;
    outline: none;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(249, 64, 64);
    text-shadow: 5px 0px gainsboro;
    font-family: sans-serif;
    background-color: white;
}
footer{
    font-size: 1.5rem;
    color: white;
}

.pressed { 
    box-shadow: 0 3px 4px 0 #DBEDF3; 
    opacity: 0.5; 
} 